body { width: 100%;  height: 100vh; }
#map { height: 100%; width: 100%; margin-bottom: 1rem; }

.legend {
    margin: 1rem 1rem;
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.2);
    line-height: 24px;
    color: #333;
  }
  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #333;
  }
  
  .legend span {
    position: relative;
    bottom: 3px;
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
  }

  .carrier-route, .carrier-routes { transition: opacity 1s; }
  
  .carrier-routes:has(:hover) .carrier-route { opacity: 0.1; }
  .carrier-routes:has(:hover) .carrier-route:hover { opacity: 1; }
  .carrier-route { opacity: 0.25; }
  .carrier-route:hover { opacity: 1; }
  .distance-circle:hover { color: black; }

  .leaflet-tooltip.distance-circle {
    font-size: smaller;
    padding: 0 0.5em 0 0.5em;
    border-radius: 9px;
    background-color: palegoldenrod;
  }

  .leaflet-tooltip.carrier-route {
    border-radius: 12px;
    padding-left: 1em; padding-right: 1em;
  }